<a href="/movies">Movies List</a>
<a href="/directors">Directors List</a>

<h1>Movies</h1>

<% @movies.each do |movie| %>
  <h1>Name:     <%= movie.name %></h1>
  <h1>Version:  <%= movie.version %></h1>
  <h1>Rating:   <%= movie.rating %></h1>
  <h1>Censored: <%= movie.censored %></h1>
  <h1>Length:   <%= movie.length_in_mins %> minutes</h1>
<% end %>
