<h1>Name:     <%= @movie.name %></h1>
<h1>Version:  <%= @movie.version %></h1>
<h1>Rating:   <%= @movie.rating %></h1>
<h1>Censored: <%= @movie.censored %></h1>
<h1>Length:   <%= @movie.length_in_mins %> minutes</h1>
<a href="/movies/<%= Movie.all %>/index">Main Menu</a>