<h1><%= @director.name %> Movies</h1>

<% @movies.each do |movie| %>
  <br><h3>
    Name: <%= link_to "#{movie.name}", "/movies/#{movie.id}" %>
    <%= link_to "Edit", "/movies/#{movie.id}/edit"%>
  </h3><br>
  <h3>Version:  <%= movie.version %></h3><br>
  <h3>Rating:   <%= movie.rating %></h3><br>
  <h3>Censored: <%= movie.censored %></h3><br>
  <h3>Length:   <%= movie.length_in_mins %> minutes</h3><br>
<% end %>

<br><br><h3><%= link_to "Sort List", "/directors/#{@director.id}/movies?sort=true"%></h2>