<h1><%= label :text, :title, "#{@director.name} Movies" %></h1>

<h2><%= link_to "Create", "/directors/#{@director.id}/movies/new" %></h2><br><br>
<%=form_with url:"/directors/#{@director.id}/movies", method: :get, local: true do |f| %>
  <%= f.label :threshold, "Movies Longer Than: " %><%= f.number_field :threshold %><br>
  <%= f.submit 'Submit Changes'%>
<% end %>
<% @movies.each do |movie| %>
  <br><h3>
    <%= label :text, :name, "Name: " %><%= link_to "#{movie.name} #{movie.version}", "/movies/#{movie.id}" %>
    <%= link_to "Edit", "/movies/#{movie.id}/edit"%>
    <%= link_to "Delete", "/movies/#{movie.id}", method: :delete %>
  </h3><br><br>
  <h3><%= label :text, :version, "Version: #{movie.version}" %></h3><br>
  <h3><%= label :text, :rating, "Rating: #{movie.rating}" %></h3><br>
  <h3><%= label :text, :censored, "Censored: #{movie.censored}" %></h3><br>
  <h3><%= label :text, :length_in_mins, "Length: #{movie.length_in_mins} minutes" %></h3><br>
<% end %>

<br><br><h3><%= link_to "Sort List", "/directors/#{@director.id}/movies?sort=true"%></h2>