<br><br><h3><%= link_to "Update #{@director.name}", "/directors/#{@director.id}/edit" %></h3><br><br>

<h3>Name:     <%= @director.name %></h3><br>
<h3>Age:      <%= @director.age %></h3><br>
<h3>Hometown: <%= @director.hometown %></h3><br>
<h3>Living:   <%= @director.alive %></h3><br>
<h3>Number of Movies:   <%= @director.movie_count %></h3>

<br><br><h3><%= link_to "#{@director.name} Movie List", "/directors/#{@director.id}/movies" %></h2>
