<h1>Name:     <%= @director.name %></h1>
<h1>Age:      <%= @director.age %></h1>
<h1>Hometown: <%= @director.hometown %></h1>
<h1>Living:   <%= @director.alive %></h1>
<a href="/directors/<%= Director.all %>/index">Main Menu</a>