<h1>Name:     <%= @director.name %></h1>
<h1>Age:      <%= @director.age %></h1>
<h1>Hometown: <%= @director.hometown %></h1>
<h1>Living:   <%= @director.alive %></h1>
<h1>Number of Movies:   <%= @director.movie_count %></h1>

<h1><%= link_to "#{@director.name} Movie List", "/directors/#{@director.id}/movies" %></h1>
<h1><%= link_to "Edit #{@director.name}", "/directors/#{@director.id}/edit" %></h1>
