<!DOCTYPE html>
<html>
  <head>
    <title>M2RelationalRailsDirMov</title>

    <a href="/movies">Movies List</a>
    <a href="/directors">Directors List</a>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
